#RewriteBase /
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^application(.*)$ index.php?url=$1 [QSA,L]
RewriteRule ^api api.php [QSA,L]
