{% extends 'base.html.twig' %}

{% block title %}Acceso no autorizado{% endblock %}

{% block body %}
  <br /><br /><br />
  <h1 style="color:red;">No tienes suficientes permisos para acceder a este sector.</h1>
  <br /><br /><br />
{% endblock %}
